/* Will be compiled down to a single stylesheet with your sass files */
.price-container {

}
.price-container tr {
	cursor: pointer;
}
.price-container tr td {
	line-height: 30px;
}
.price-container th a:hover {
	text-decoration: underline;
}

/* Side Menu */
#sidebar-wrapper {
  margin-right: -100%;
  right: 0;
  width: 95%;
  background: rgba(0,0,0,.9);
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  box-shadow: -10px 0px 5px #888888;
}

#sidebar-wrapper.active {
  right: 100%;
  width: 95%;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

#sidebar-close {
	cursor: pointer;
	margin-right: 10px;
}

#sidebar-wrapper {
	color: #ccc;
	padding: 5px;
}
#sidebar-wrapper .card img {
	margin: 0 auto;
	display: block;
}
#sidebar-wrapper .offer-table {
	margin-left: 0;
}
#sidebar-wrapper tr.success td {
	background: rgba(0, 255, 20, 0.1);
}

#sidebar-wrapper tr td {
	border: none;
}

#sidebar-wrapper .flyout-container {
	width: 90%;
	margin: 0 auto;
}

.rarity-Uncommon {
	color: #0b81ca;
}
.rarity-Rare {
	color: #bf31da;
}

.rarity-label {
	text-align: center;
	margin: 0 auto;
	display: block;
	font-size: 1.5em;
}

.price-container .btn {
	outline: none;
}
.price-container .btn.disabled {
	cursor: pointer;
}